<nav class="navbar navbar-dark bg-dark p-2">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon" (click)="open()"></span>
  </button>

  <div class="navbar" id="navbarSupportedContent">
    <a class="nav-link" href="#">Home</a>
    <a class="nav-link" href="login">Login</a>
    <a class="nav-link" href="newuser">Register</a>
    <a class="nav-link" href="/g">Error</a>
  </div>
</nav>
